!!! 5
%html
  %head
    %meta{:charset=>"utf-8"}
    %title Pie Rat Bay
    %link{:rel=>'stylesheet', :type=>'text/css', :href=>'/css/main.css'}
    %link{:rel=>'stylesheet', :type=>'text/css', :href=>'http://fonts.googleapis.com/css?family=Press+Start+2P'}
  %body
    #main
      #header
        %h1 Pie Rat Bay
      #content
        = yield
      #footer
        %p Made by Afal
    %script{:type=>"text/html", :id=>"torrents_table"}
      %table
        %tr
          %th Title
          %th Size
          %th Seeders
          %th Leechers
        {{#torrents}}
        %tr
          %td
            %a{:href => "magnet:?xt=urn:btih:{{magnet}}"}{{title}}
          %td {{size}}
          %td {{seeders}}
          %td {{leechers}}
        {{/torrents}}

    %script{:type=>"text/html", :id=>"pagination"}
      %p
        {{#page_previous}}
        %a{:href=>"/#/{{search}}/{{page_previous}}"} Previous
        {{/page_previous}}
        Page {{page}} of {{total_pages}}
        {{#page_next}}
        %a{:href=>"/#/{{search}}/{{page_next}}"} Next
        {{/page_next}}

    %script{:src=>"http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js"}
    %script{:src=>"http://cdnjs.cloudflare.com/ajax/libs/ICanHaz.js/0.9/ICanHaz.min.js"}
    %script{:src=>"https://raw.github.com/dafrancis/Bix/master/bix.min.js"}
    %script{:src=>"/js/tpb.js"}