body {
    background: #DDDD66;
    font-family: helvetica;
}

#main {
    background: #EEE;
    width: 800px;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #888;
}

#header, #footer {
    text-align: center;
}

#header {
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
}

#footer {
    color: gray;
    font-size: 8px;
}

#search {
    text-align: center;
}

#search input {
    margin: auto;
    width: 250px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    padding: 3px;
    border-radius: 10px;
    font-size: 20px;
}

#pages {
    text-align: center;
}

#torrents table {
    width: 800px;
}